.ion-card-dash {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height:150px !important;
    margin: 0 !important;
  }

// .img-dash {
//     width:100%;
//     height:50%;
// }
.text-size {
    font-size: 13px !important;
}
.subtitle {
  font-size: 10px  !important;
}