ion-button {
    --border-radius: 10rem !important;
}
ion-input {
    // border:1px solid blue !important;
    padding:10px !important
}


.div-with-space {
    margin:10px;
}
.green-card {
    margin:10px !important;
    font-weight: 700;
}